.noteView_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.createNote_form {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.createNote_title {
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding: 0.25rem 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    border: 1px solid #B2B2B2;
}

.createNote_body {
    resize: none;
    font-size: 1.5;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    border: 1px solid #B2B2B2;
}

.createNote_button {
    width: 200px;
}

.delete_wrapper {
    z-index: 1000;
    position: fixed;
    margin-top: 80px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 600px;
    height: 200px;
    border: 1px solid rgb(66, 66, 66);
    box-shadow: 1px 1px 8px rgb(66, 66, 66);
    background-color: white;
}

.delete_buttons_wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row
}

.deletebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color: rgb(235, 10, 10);
    border: 1px solid #86AEB1;
    margin: 0.5rem 0;
    height: 3rem;
    border-radius: 0.1rem;
}

.nobutton {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color: #23B8BE;
    border: 1px solid #86AEB1;
    /*      TB   LR */
    margin: 0.5rem 0;
    height: 3rem;
    border-radius: 0.1rem;
}

.hidden {
    display: none;
}

@media(max-width: 940px) {
    .delete_wrapper {
        margin-left: -20vw;
    }
}

@media(max-width: 480px) {
    .delete_wrapper {
        margin-left: -25vw;
    }
}

@media(max-width: 400px) {
    .delete_wrapper {
        margin-left: -35vw;
    }
}

.notesList_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notesList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.view_button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color: #23B8BE;
    border: 1px solid #86AEB1;
    margin: 0.5rem 0;
    height: 3rem;
    border-radius: 0.1rem;
}

.note {
    margin: 0.5rem 0.5rem;
    width: 200px;
    min-height: 170px;
    overflow: hidden;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    background-color: white;
}

.note h4 {
    margin: 0;
}

.note hr {
    margin: 0.25rem 0 0.5rem 0;
}

.note p {
    margin: 0;
    height: 6.8rem;
    overflow: hidden;
}

.noteView_container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.noteView_container p {
    margin: 0 0.5rem;
}

.noteView_topContent {
    display: flex;
    justify-content: space-between;
}

.edit_delete {
    padding: 1rem 0.5rem;
    color: rgb(66, 66, 66);
}
